/*------Color-1------*/
:root{
    --skin-colour:#fb839e;
}
/*---------
fonts
---------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*-------
global styles
------*/
/*define custom css variable*/
:root{
    --bg-black-900: #000000;
    --bg-black-100: #dddddd;
    --bg-black-50: #eff0f4;
    --text-black-900: #000000;
    --text-black-700: #555555;
    --text-black-600: #666666;
    --text-balck-300: #bbbbbb;
    --outer-shadow: 3px 3px 3px #000000, -3px -3px 3px #f8f8f8;
    --outer-shadow-0: 0 0 0 #000000, -0 -0 -0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0,inset -3px -3px 3px #f8f8f8;
}
body{
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}
*not(i){
    font-family: 'Raleway', sans-serif;
    font-weight:400
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,:after{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.rows{
    display: flex;
    flex: wrap ;
}
.justify-content-between{
    justify-content: space-between;
}
.inner-shadow{
    box-shadow: var(--inner-shadow);
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.hover-in-shadow{
    position:relative;
    z-index: 1;
}
.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.hover-in-shadow:hover:after{
    box-shadow: var(--inner-shadow);
}

/*-------
header
-------*/
.header{
    padding: 20px 15px;
    position:absolute;
    width:100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.header .logo a{
    display:inline-block;
    text-align: center;
    line-height: 40px;
    height:40px;
    width:40px;
    font-size: 26px;
    color: var(--skin-colour);
    border-radius:50%;
    border:2px solid var(--skin-colour);
    font-weight:600;
    text-transform: uppercase;
    box-shadow: 0 4px 8px;
}
.header .hamburger-btn{
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}
.header .hamburger-btn:after{
    border-radius: 50%;
}
.header .hamburger-btn span{
    display:block;
    height: 2px;
    width: 16px;
    background: var(--bg-black-900);
    position:relative;
}
.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
    content: " ";
    position: absolute;
    left: 0%;
    width:100%;
    height: 100%;
    background-color: var(--bg-black-900);
}
.header .hamburger-btn span:before{
    top:-6px;
}
.header .hamburger-btn span:after{
    top:6px;
}
/*--navigation-menu--*/
.nav-menu{
    position: fixed;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}
.nav-menu .close-nav-menu{
    width: 40px;
    height: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: var(--text-black-600); 
}
.nav-menu .close-nav-menu:after{
    border-radius: 50%;
    transition: 0ms;
}

.nav-menu-inner{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul{
    padding:  15px;
    text-align: center;
}
.nav-menu ul li{
    display: block;
    margin-bottom: 15px;
}
.nav-menu ul li:last-child{
    margin-bottom: 0px;
}
.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
}
.nav-menu ul li a.active{
    color: var(--skin-colour);
}
.nav-menu ul li a:after{
    border-radius: 30px;
}
.nav-menu .copyright-text{
    position: absolute;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
    left:-50px;
}

